* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-y: hidden;
}

.header {
	height: 20vh;
}

.form .doubt{
	width: 100%;
	height: 80vh;
}

.form {
	background-color: #E8F2FD;
}